.alert-js {
    background-color: #fff3cd;
    color: #856404;
    padding: 15px;
    border: 1px solid #ffeeba;
    text-align: center;
    font-family: sans-serif;
}

.bi-lock-fill {
    font-size: 2rem;
}

.container td a {
    text-decoration: none;
    font-weight: 500;
}

.titulo {
    display: inline-block;
}

.content {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #ffffff;
    padding: 30px;
}

.content .cadastro {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 30px;
}

.content .login {
    padding-left: 30px;
}

.table-wrapper {
    overflow-x: auto;
    width: 100%;
}

.table-wrapper .tabela,
.navegacao,
.total-contatos {
    min-width: 600px;
}

@media screen and (max-width: 1400px) {
    .content {
        flex-direction: column;
        padding-bottom: 15px;
    }

    .content input {
        max-width: 500px;
    }

    .content .cadastro {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
    }

    .content .login {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 770px) {
    .contato-actions {
        flex-direction: column;
        justify-content: center;
    }

    .contato-actions .total-contatos {
        margin-bottom: 10px;
    }
}